.DS_Store
heatmap.png
/heatmap.jpg
/heatmapVideo.avi
/grey.jpg
/heatMapVideoWithOverlap.avi
/heatMapVideoWithOverlapLinear.avi
/heatMapVideoWithOverlapUniform.avi
/testFunc
/heatMapVideoSemiCircle.avi
/heatMapVideoWithOverlapSemiCircle.avi
/test.jpg
/heatMapVideoWithOverlapSqrt.avi
